nav{
    display: block;
    width: 100%;
    background-color: rgb(91, 101, 255);
    ul{
        list-style: none;
        li{
            display: inline-block;
            padding: 6px;
            margin: 4px;
            color: black;
            border-radius: 6px;
            &:hover{
                background-color: #00000040;
            }
        }
    }
}