.list-container{
    display: flex;
    justify-content: space-around;
    &>section{
        padding: 6px;
        background-color: rgb(91, 101, 225);
        color: black;
        border-radius: 6px;
        padding-top: 0px;
        h3{
          margin-top: 2px;
        }
    }
}